*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app-cont{
    height: 100vh
}

.page-cont{
    margin-top: 100px;
    background-color: rgb(56, 131, 165);
    width: auto;
    display: flex;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
    color: black;
}



.register-cont, .login-cont{
    background-color: white;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    padding: 40px;
    border-radius: 10px;
}

.title{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;

}

.form{
    /* background-color: rgb(196, 210, 255); */
    display: flex;
    flex-direction: column;
}

.form > p {
    /* background-color: blueviolet; */
    /* margin: 20px 0px 0px 0px; */
    margin: 0;
}

.form > input {
    /* background-color: blueviolet; */
    margin: 0px 0px 20px 0px; 
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid rgb(175, 175, 175);
}


.form > button{
    height: 60px;
    background-color: rgb(48, 115, 149);
    color: white;
    border: none;
    border-radius: 5px;
}

.register--errors, .login--errors{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    color: rgb(172, 1, 1);
}

.change-page > p{
    /* background-color: black; */
    color: black;
    display: flex;
    justify-content: center;
}

.span-blue{
    color: rgb(56, 131, 165);
}


